@font-face {
    font-family: 'LCD-Bold';
    src:url('../webfonts/LCD-Bold.ttf.woff') format('woff'),
        url('../webfonts/LCD-Bold.ttf.svg#LCD-Bold') format('svg'),
        url('../webfonts/LCD-Bold.ttf.eot'),
        url('../webfonts/LCD-Bold.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Modern Sans';
    src: url('../webfonts/ModernSans.eot');
    src: url('../webfonts/ModernSans.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/ModernSans.woff') format('woff'),
        url('../webfonts/ModernSans.ttf') format('truetype'),
        url('../webfonts/ModernSans.svg#ModernSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Diogenes';
    src: url('../webfonts/Diogenes.eot');
    src: url('../webfonts/Diogenes.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Diogenes.woff') format('woff'),
        url('../webfonts/Diogenes.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BloodCrow';
    src: url('../webfonts/BloodCrow.eot');
    src: url('../webfonts/BloodCrow.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/BloodCrow.woff') format('woff'),
        url('../webfonts/BloodCrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../webfonts/Exo2-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALIEN';
    src: url('../webfonts/AlienScript-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}





body {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 4em;
    overflow: hidden;
}

.isAlien * {
    font-family: 'ALIEN' !important;
    text-transform: uppercase;
}
.alien {
    font-family: 'ALIEN' !important;
    text-transform: uppercase;
    font-size: 1em;
}

.moderne, h1 {
    font-family: 'Modern Sans';
}
.lcd  {
    font-family: 'LCD-Bold';
}

.giant-text {
    font-size: 2em;
}
.small-text {
    font-size: 0.35em;
}

.font-diogenes {
    font-family: 'Diogenes';
}

.font-bloodcrow {
    font-family: 'BloodCrow';
}
.flash {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
    display: none;
}
.hexBG {
    background-image: url(/assets/images/hexagons.jpg);
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
}
.screen {
    position: absolute;
    z-index: 100;
    text-align: left;
    left: 43%;
    top: 22.5%;
    width: 55%;
    height: 74%;
}
#tvvideo {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: black;
}


.pi1 {
    background-image: url(/assets/images/fondoPI1.png);
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;    
}
#pi2 {
    background-image: url(/assets/images/fondoPI2.png);
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover; 
    overflow: hidden;
}

.O2timer {
    position: absolute;
    height: 48%;
    left: 33px;
    bottom: 3.4%;
    padding: 10px;
    width: 33%;
}
.moscovium {
    position: absolute;
    left: 42%;
    height: 16.5%;
    top: 0.5%;
    padding: 10px;
    width: 55%;
}
.clues {
    position: absolute;
    left: 43%;
    top: 22.5%;
    width: 55%;
    min-height: 20%;
}
.clues > div,
.O2timer > div,
.moscovium > div {
    height: 100%;
}
.cluebody {
    font-size: 2.5em;
    line-height: 1;
}


.hexagonBig {
    position: absolute;
    width: 1300px;
    height: 969px;
    background-image: url(/assets/images/hexagonBig.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s linear;
}
.hex1 .hexagonBig {
    top: 106%;
    left: 0%;
}
.hex2 .hexagonBig {
    top: 50%;
    left: -13%;
}
.hex3 .hexagonBig {
    top: -6%;
    left: 0%;
}
.hex4 .hexagonBig {
    top: -6%;
    left: 100%;
}
.hex5 .hexagonBig {
    top: 50%;
    left: 113%;
}
.hex6 .hexagonBig {
    top: 106%;
    left: 100%;
}
.section1 {
    position: absolute;
    left: 20%;
    width: 60% !important;
    top: 20%;
    height: 60%;
    font-size: 0.8em !important;
}
.section2 {
    position: absolute;
    left: 20%;
    width: 60% !important;
    top: 20%;
    height: 60%;
    font-size: 0.4em !important;
}
.section3 {
    position: absolute;
    left: 20%;
    width: 60% !important;
    top: 20%;
    height: 60%;
    font-size: 0.4em !important;
}
.section4 {
    position: absolute;
    left: 20%;
    width: 60% !important;
    top: 20%;
    height: 60%;
    font-size: 0.4em !important;
}
.section5 {
    position: absolute;
    left: 20%;
    width: 60% !important;
    top: 20%;
    height: 60%;
    font-size: 0.4em !important;
}
.section6 {
    position: absolute;
    left: 5%;
    width: 80% !important;
    top: 5%;
    height: 86%;
    font-size: 0.4em !important;
}
#videoAndromeda {
    width: 100%;
}
.Cell {
    display: inline-block;
    border: solid 1px deepskyblue;
    width: 30px;
    height: 60px;
    margin: 31px 10px;
}
.Cell.filled {
    background-color: rgba(255,255,255,0.8);
}


.spacecontainer {
    width: 800px;
    height: 450px;
    overflow: hidden;
    position: absolute;
    top: 75px;
    left: 0;
}

.space {
    background-image: url(/assets/images/fondoPI3.jpg);
    background-size: 100%;
    width: 4000px;
    height: 1800px;
    position: absolute;
}
.small {
    font-size: 10px;
    display: block;
    line-height: 2;
    margin-bottom: -12px;
}
.spaceship {
    width: 100%;
    background-image: url(/assets/images/pi3nave.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    height: 152px;
}
.arrowLeft {
    position: absolute;
    left: 10%;
    bottom: 10%;
}
.arrowRight {
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.arrowFront {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.currentLocation {
    font: normal 100 40px/1.2em "Exo 2", Arial, sans-serif;
    letter-spacing: .06em;
    background-color: rgba(120, 200, 255, 0.9);
    border: 1px solid rgba(120, 200, 255, 0.8);
    color: black;
    position: absolute;
    width: 20%;
    left: 40%;
    height: 13%;
    bottom: 15px;
    font-weight: bold;
}

.nextLocation {
    font: normal 100 35px/1.2em "Exo 2", Arial, sans-serif;
    letter-spacing: .06em;
    background-color: rgba(120, 200, 255, 0.2);
    border: 1px solid rgba(120, 200, 255, 0.8);
    color: rgba(120, 200, 255, 0.8);
    position: absolute;
    width: 16%;
    left: 42%;
    height: 10%;
    top: 13%;
}
.leftLocation {
    font: normal 100 35px/1.2em "Exo 2", Arial, sans-serif;
    letter-spacing: .06em;
    background-color: rgba(120, 200, 255, 0.2);
    border: 1px solid rgba(120, 200, 255, 0.8);
    color: rgba(120, 200, 255, 0.8);
    position: absolute;
    width: 16%;
    left: -4%;
    height: 10%;
    top: 30%;
    transform: rotate(-45deg);
}
.rightLocation {
    font: normal 100 35px/1.2em "Exo 2", Arial, sans-serif;
    letter-spacing: .06em;
    background-color: rgba(120, 200, 255, 0.2);
    border: 1px solid rgba(120, 200, 255, 0.8);
    color: rgba(120, 200, 255, 0.8);
    position: absolute;
    width: 16%;
    right: -4%;
    height: 10%;
    top: 30%;
    transform: rotate(45deg);
}

.futurepanel {
    box-sizing: border-box;
    display: inline-block;
    font: normal 100 20px/1.2em "Exo 2", Arial, sans-serif;
    letter-spacing: .06em;
    background-color: rgba(120, 200, 255, 0.1);
    border: 1px solid rgba(120, 200, 255, 0.8);
    color: rgba(120, 200, 255, 0.8);
    padding: 0 1em 1em;
    width: 100%;
}
.futurepanel.highlight  {
    background-color: rgba(255, 200, 120, 0.1);
    border: 1px solid rgba(255, 200, 120, 0.2);
    color: rgba(255, 200, 120, 0.8);

}
.futurepanel.danger  {
    background-color: rgba(255, 100, 20, 0.1);
    border: 1px solid rgba(255, 100, 20, 0.8);
    color: rgba(255, 100, 20, 0.8);

}
.futurepanel .futurepanel__header {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(120, 200, 255, 0.2);
}
.futurepanel .futurepanel__title {
    box-sizing: border-box;
    font: normal 100 1.429em/1em "Exo 2", Arial, sans-serif;
    text-transform: uppercase;
    padding: .4em 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.futurepanel .futurepanel__body {
    box-sizing: border-box;
    padding: 0.5em;
}
.futurepanel .futurepanel__divider {
    box-sizing: border-box;
    height: .6em;
    margin-top: .6em;
    border-top: 1px solid rgba(120, 200, 255, 0.2);
}
.futurepanel .futurepanel__footer {
    box-sizing: border-box;
    height: 2em;
    font-size: .8em;
    color: rgba(120, 200, 255, 0.2);
}

.futureinput {
    font: normal 100 16px/1.2em "Exo 2", Arial, sans-serif;
    letter-spacing: .06em;
    color: rgba(120, 200, 255, 0.8);
    margin: 0;
    padding: 0;
}
.futureinput label {
    font: normal 100 1em/1.8em "Exo 2", Arial, sans-serif;
    margin: 0 0 4em 0;
}
.futureinput label.required:after {
    display: relative;
    content: '*';
    padding-left: .2em;
    color: rgba(255, 120, 120, 0.8);
    font: normal 100 1em/1.8em "Exo 2", Arial, sans-serif;
}
.futureinput input[type="text"] {
    font: normal 100 1em/2.4em "Exo 2", Arial, sans-serif;
    background-color: rgba(120, 200, 255, 0.1);
    border: 1px solid rgba(120, 200, 255, 0.2);
    color: rgba(120, 200, 255, 0.8);
    height: 2.4em;
    box-sizing: border-box;
    padding: 0 .8em;
    letter-spacing: .06em;
    width: 100%;
}
.futureinput input[type="text"]:focus {
    background-color: rgba(120, 200, 255, 0.2);
    border: 1px solid rgba(120, 200, 255, 0.3);
    color: rgba(120, 200, 255, 0.9);
    outline: none;
}
.futureinput input[type="text"]::-webkit-input-placeholder {
    color: rgba(120, 200, 255, 0.5);
    font: normal 100 1em/2.4em "Exo 2", Arial, sans-serif;
}
.futureinput input[type="text"]:-moz-placeholder {
    color: rgba(120, 200, 255, 0.5);
    font: normal 100 1em/2.4em "Exo 2", Arial, sans-serif;
}
.futureinput input[type="text"][disabled] {
    background-color: rgba(120, 200, 255, 0.04);
    border: 1px solid rgba(120, 200, 255, 0.06);
    color: rgba(120, 200, 255, 0.2);
    cursor: not-allowed;
}
.futureinput input[type="text"][disabled]::-webkit-input-placeholder {
    color: rgba(120, 200, 255, 0.2);
}
.futureinput input[type="text"][disabled]:-moz-placeholder {
    color: rgba(120, 200, 255, 0.2);
}
.futureinput .futureinput__help {
    display: block;
    font: normal 100 0.8em/1.2em "Exo 2", Arial, sans-serif;
    padding: .6em 0;
    color: rgba(120, 200, 255, 0.5);
}
.futureinput .futureinput__error {
    display: block;
    font: normal 100 0.8em/1.2em "Exo 2", Arial, sans-serif;
    text-transform: uppercase;
    padding: .6em 0;
    color: rgba(255, 120, 120, 0.8);
}

.futurebutton {
    font: normal 300 14px/1.2em "Exo 2", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .06em;
    color: rgba(255, 255, 255, 0.8);
    margin: 1px;
    padding: .4em 1em;
    border: 1px solid rgba(120, 200, 255, 0.2);
    background-color: rgba(120, 200, 255, 0.6);
    cursor: pointer;
}
.futurebutton:hover {
    background-color: rgba(120, 200, 255, 0.4);
    color: rgba(255, 255, 255, 0.6);
}
.futurebutton[disabled] {
    background-color: rgba(120, 200, 255, 0.2);
    border: 1px solid rgba(120, 200, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
}

.futurebutton--alert {
    background-color: rgba(120, 0, 0, 0.9);
    border: 1px solid rgba(255, 120, 120, 0.4);
    color: rgba(255, 255, 255, 0.8);
}
.futurebutton--alert:hover {
    background-color: rgba(120, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.8);
}
.futurebutton--alert[disabled] {
    background-color: rgba(120, 0, 0, 0.2);
    border: 1px solid rgba(255, 120, 120, 0.2);
    color: rgba(255, 255, 255, 0.4);
}

.futuremetric {
    font: normal 300 14px/1.2em "Exo 2", Arial, sans-serif;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .06em;
    border: 1px solid rgba(120, 200, 255, 0.4);
    color: rgba(120, 200, 255, 0.8);
    height: 6em;
    width: 6em;
    margin: 0;
    padding: .4em;
    text-align: center;
    border-radius: 50%;
}
.danger .futuremetric {
    background-color: rgba(255, 100, 20, 0.1);
    border: 1px solid rgba(255, 100, 20, 0.8);
    color: rgba(255, 100, 20, 0.8);
    height: 7em;
    width: 7em;
    font-size: 1.3em;
    padding: 0.8em 0;
}
.futuremetric .futuremetric__value {
    font: normal 300 2em/1.2em "Exo 2", Arial, sans-serif;
    margin-top: .4em;
}
.futuremetric .futuremetric__value--optimal {
    color: rgba(100, 200, 100, 0.8);
}
.futuremetric .futuremetric__value--optimal:hover {
    color: #64c864;
}
.futuremetric .futuremetric__value--warning {
    color: rgba(255, 200, 0, 0.8);
}
.futuremetric .futuremetric__value--warning:hover {
    color: #ffc800;
}
.futuremetric .futuremetric__value--alert {
    color: rgba(255, 120, 120, 0.8);
}
.futuremetric .futuremetric__value--alert:hover {
    color: #ff7878;
}
.futuremetric .futuremetric__label {
    font-size: .8em;
}

.futuregrid {
    font: normal 300 14px/1.2em "Exo 2", Arial, sans-serif;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .06em;
    border: 1px solid rgba(120, 200, 255, 0.4);
    color: rgba(120, 200, 255, 0.8);
    margin: 0;
    padding: 0;
    width: 100%;
}
.futuregrid .futuregrid__cell {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    border-right: 1px solid rgba(120, 200, 255, 0.4);
    border-bottom: 1px solid rgba(120, 200, 255, 0.4);
    height: 3.6em;
    width: 3.6em;
    text-align: center;
}

.heading {
    font: normal 100 12px/1.2em 'Exo 2', Arial, sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}


h6.heading {
    font-size: 1em;
}

h5.heading {
    font-size: 1.143em;
}

h4.heading {
    font-size: 1.286em;
}

h3.heading {
    font-size: 1.429em;
}

h2.heading {
    font-size: 1.714em;
}

h1.heading {
    font-size: 2em;
    border-bottom: 1px solid rgba(0, 255, 255, 0.2);
}
